{# le _ dans le nom du fichier sert à dire que ce fichier contient le code d'une partis de notre code#}
<header class= "bg-danger">
<nav class="navbar navbar-expand container navbar-light">
<span class="navbar-brand">
    symfony découvert
</span>
<ul class="navbar-nav">
<li class="navbar-item">
<a href="{{ path("exo2") }}" class="nav-link">Exo 2</a>  {#path("le nom de la route")#}
</li>
<li class="navbar-item">
<a href="{{ path("boucle-condition") }}" class="nav-link">for if</a>  {#path("le nom de la route")#}
</li>
<li class="navbar-item">
<a href="{{ path("exo3") }}" class="nav-link">Exo 3</a>  {#path("le nom de la route")#}
</li>
<li class="navbar-item">
<a href="{{ path("articles") }}" class="nav-link">Articles</a>  {#path("le nom de la route")#}
</li>
<li class="nav-item">
    <a href="{{ path('exo4') }}" class="nav-link">Exo 4</a>
</li>
<li class="nav-item">
    <a href="{{ path('new_etudiant') }}" class="nav-link">Ajouter un etudiant</a>
</li>
<li class="nav-item">
    <a href="{{ path('new_article') }}" class="nav-link">Ajouter un article</a>
</li>
<li class="nav-item">
    <a href="{{ path('index_categorie') }}" class="nav-link">CRUD</a>
</li>
<li class="nav-item">
    <a href="{{ path('app_register') }}" class="nav-link">Register</a>
</li>
<li class="nav-item">
    <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
</li>
</ul>
</nav>
</header>